$white: #ffffff;
$black: #000000;
$bg-color: #f7f7f7;

$btn-primary: #4182e1;
$btn-primary-border: #4182e1;
$btn-primary-hover: #397adb;
$btn-text: #516873;

$label-title-color: #21232c;

$label-color: #253858;
$text-color: #253a43;
$btn-secondary-border: #cccccc;

$input-border-color: #747474;

$tab-active-color: #324752;
$tab-color: #939cb1;
$edit-tab-border: #e0e0e0;
// Accent Color

$green: #2D8647;
$dark-green: #077838;
$accent: #006666;
$dark-accent: #005252;
$blue: #0d68c5;
$dark-blue: #0157ae;
